<h1 align="center">Listing all Announcements</h1>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'announcement', obj: @announcements %>
<div align="center">
  <%= will_paginate %>
</div>