<div id="bookmarks" class="results-blocks col-xs-12 col-xs-offset-0">
  <div class="panel panel-info bookmarks-table">
    <!-- Default panel contents -->
    <div class="panel-heading" align="center">
       <strong><h4>Bookmarked FAQs</h3></strong>
    </div>
    <!-- Table -->
   <div id="faqs-bookmark-list" class="list-group" data-url="<%= sort_faqs_path %>" >
	  <% @faqs.each do |faq| %>
		  <% if @user.bookmarks?(faq) %>
		  	<%= link_to "#{faq.title}", faq, class: "list-group-item", id: dom_id(faq) %>
		  <% end %>
	  <% end %>
	</div>
  </div>
</div>