<% if params[:action] == 'search' %>
  <div class="results-blck">
    <%= bootstrap_flash %>
  </div>
<% end %>  

<% if @article %>
    <div id="article-search-results" class="row results-blocks col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-xs-8">Title</th>
            <th class="col-xs-4">Categories</th>
          </tr>
        </thead>
        <tbody>
          <% @article.each do |article| %>
            <tr>
              <td class="col-xs-8"><%= link_to article.title, article %></td>
              <td class="col-xs-4"><%= render article.categories %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>