<div id="bookmarks" class="results-blocks col-xs-12 col-xs-offset-0">
  <div class="panel panel-info bookmarks-table">
    <!-- Default panel contents -->
    <div class="panel-heading" align="center">
       <strong><h4>Bookmarked Wikis</h3></strong>
    </div>
    <!-- Table -->
   <div id="articles-bookmark-list" class="list-group" data-url="<%= sort_articles_path %>" >
	  <% @articles.each do |article| %>
		  <% if @user.bookmarks?(article) %>
		  	<%= link_to "#{article.title}", article, class: "list-group-item", id: dom_id(article) %>
		  <% end %>
	  <% end %>
	</div>
  </div>
</div>