<h1 align="center">Listing all Wiki posts</h1>

<div align="center">
  <%= will_paginate @articles, :inner_window => 1, :outer_window => 1 %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate @articles, :inner_window => 1, :outer_window => 1 %>
</div>