<div class="row">
  <div id="announcementnotifications" class="results-blocks col-xs-12 col-md-10 col-md-offset-1">
    <div class="panel panel-info notifications-table">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div align="center">
          <h1>Announcement Notifications</h2>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-xs-1">Status</th>
              <th class="col-xs-1">Time ago</th>
              <th class="col-xs-5">Info</th>
              <th class="col-xs-5">Title</th>
            </tr>
          </thead>
          <%= render @announcementnotifications.where(read: true), selector: "long" %>
        </table>
      </div>
    </div>
  </div>
</div>