<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="notification-index-list list-group">
        <h1 class="text-center">Your Announcement Notifications</h1>
        <a> <%= button_to "Read all", read_all_announcementnotifications_path, method: :post %> </a>
        <a> <%= button_to "Old notifications", announcementnotifications_all_read_path, method: :get %> </a>
        <hr>
        <%= render @announcementnotifications.where(read: false), selector: "long" %>
      </ul>
    </div>
  </div>
</div>
<% if @announcementnotifications.where(read: false).length > 1 %>
<div align="center">
  <%= will_paginate @announcementnotifications %>
</div>
<% end %>
