
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="notification-index-list list-group">
        <h1 class="text-center">Your Notifications</h1>
        <a> <%= button_to "Read all", read_all_notifications_path, method: :post %> </a>
        <a> <%= button_to "Old notifications", notifications_all_read_path, method: :get %> </a>
        <hr>
        <%= render @notifications.where(read: false), selector: "long" %>
      </ul>
    </div>
  </div>
</div>

<div align="center">
  <%= will_paginate @notifications %>
</div>
