<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="notification-index-list list-group">
        <h1 class="text-center">Your old Notifications</h1>
        <a> <%= button_to "New notifications", notifications_path, method: :get %> </a>
        <hr>
        <%= render @notifications.where(read: true), selector: "long" %>
      </ul>
    </div>
  </div>
</div>

<% if @notifications.where(read: true).length > 1 %>
<div align="center">
  <%= will_paginate @notifications %>
</div>
<% end %>

