<div class="row">
  <div id="notifications" class="results-blocks col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
    <div class="panel panel-info notifications-table">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div align="center">
          <h1>Social Notifications</h2>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-xs-2">Status</th>
              <th class="col-xs-4">Time ago</th>
              <th class="col-xs-6">Info</th>
            </tr>
          </thead>
          <%= render @notifications.where(read: true), selector: "long" %>
        </table>
      </div>
    </div>
  </div>
</div>

