<h1 align="center"><%= @user.username + " Wiki posts"%></h1>

<div align="center">
  <%= will_paginate @user_articles, :inner_window => 1, :outer_window => 1 %>
</div>

<ul class="user-profile-posts">  
    <%= render 'articles/article', obj: @user_articles %>
</ul>  

<div align="center">
  <%= will_paginate @user_articles, :inner_window => 1, :outer_window => 1 %>
</div>