<h1 align="center"><%= @user.username + " Social Posts"%></h1>

<ul class="user-profile-posts">  
  <% @user_socialposts.each do |socialpost| %>
    <%= render 'socialposts/socialpost', socialpost: socialpost %>
  <% end %>
</ul>  

