
<div class="row">
  <div class="col-lg-12">
      <%= form_for ([@announcement, @announcement.announcement_comments.build]) do |f| %>
      <div class="container-fluid">
          <div class="form-group text-center">
              <h4>Add a comment:</h4>
              <div class ="form-group">
                <div class="col-sm-14">
                  <%= f.text_area :body, data: {behavior: "autocomplete"}, rows: 4, class: "form-control", placeholder: "Write the post here" %>
                </div>
              </div>
              <div align ="center" class="comment-actions col-xs-4 col-xs-offset-4">
                <%= f.button "Post comment".html_safe, class: 'btn-success btn-block', data: {disable_with: "<i class='fa fa-circle-notch fa-spin'></i> Creating..."} %>
              </div>
          </div>
      </div>  
      <% end %>
  </div>  
</div>  
