
<div id="articlenotifications" class="results-blocks col-md-12">
  <div class="panel panel-info wiki-notifications-table">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <div align="center">
        <h1>Wiki Notifications</h2>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Status</th>
          <th>Time ago</th>
          <th>Info</th>
          <th>Title</th>
        </tr>
      </thead>
      <%= render @articlenotifications.where(read: false), selector: "long" %>
    </table
  </div>
</div>



