<% if params[:action] == 'search' %>
  <div class="results-blck">
    <%= bootstrap_flash %>
  </div>
<% end %>  
<hr>
<% if @socialpost %>
  <% @socialpost.each do |socialpost| %>
    <div align="center">
      <%= will_paginate @socialpost %>
    </div>
    <tr>
      <%= render 'socialpost', socialpost: socialpost %>
    </tr>
    <div align="center">
      <%= will_paginate @socialpost %>
    </div>
  <% end %>
<% end %>

