<% if params[:action] == 'search' %>
  <div class="results-blck">
    <%= bootstrap_flash %>
  </div>
<% end %>  

<% if @socialpost %>
  <% @socialpost.each do |socialpost| %>
    <tr>
      <%= render 'socialpost', socialpost: socialpost %>
    </tr>
  <% end %>
<% end %>


