<h1>Hello World</h1>


<li><%= link_to "test", new_socialpost_path %></li>



<% @socialposts.each do |socialpost| %>
  <h4 align="center"><%= link_to "View Post", socialpost_path(socialpost) %></h2>
  <%= render 'socialpost', socialpost: socialpost %>
<hr>
<% end %>


