

<div align="center">
  <h1>All Zappi Social Posts</h1>
</div>
<div align="right">
  <%= will_paginate @socialposts, :inner_window => 1, :outer_window => 1 %>
</div>

<div id="socialposts">
  <%= render 'socialposts' %>
</div>

<div align="center">
  <%= will_paginate @socialposts, :inner_window => 1, :outer_window => 1 %>
</div>