
<%= render 'socialpost', socialpost: @socialpost %>
<% if current_user.admin? || current_user == @socialpost.user %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", socialposts_path %>
    |
    <%= link_to "Edit Post", edit_socialpost_path(@socialpost) %>
  </div>
<% else %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", socialposts_path %>
  </div>
<% end %>
