<% if params[:action] == 'search' %>
  <div class="results-blck">
    <%= bootstrap_flash %>
  </div>
<% end %>  

<% if @category %>
    <div id="categories" class="well results-blocks col-xs-10 col-xs-offset-1">
      <table class="categories-table col-xs-10 col-xs-offset-1">
        <tbody>
            <strong>Results: </strong>
          <% @category.each do |category| %>
              <%= render category %>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>