<% if params[:action] == 'search' %>
<div class="row">
  <div class="results-blck">
    <%= bootstrap_flash %>
  </div>
</div>
<% end %>  

<% if @category %>
    <div id="categories" class="row results-blocks col-xs-12">
      <table class="categories-table col-xs-12">
        <tbody>
            <strong>Results: </strong>
          <% @category.each do |category| %>
              <%= render category %>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>

