<div align="center">
  <h1>Listing all categories</h1>
</div>

<div align="center">
  <%= will_paginate %>
</div>

<div id="categories" class="well results-blocks col-md-12">
  <table class="categories-table col-md-12">
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <%= render category %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div align="center">
  <%= will_paginate %>
</div>

<%= render 'search' %>