<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="panel panel-info categories-index">
      <div class="panel-heading">
        <div align="center">
          <strong><h3>All categories</h1></strong>
        </div>
      </div>
      <div class="panel-body">
        <% @categories.each do |category| %>
          <%= render category %>
        <% end %>
        <hr>
        <%= render 'search' %>
      </div>
    </div>
  </div>
</div>
