<div align="center">
  <h1>Listing all categories</h1>
</div>
<hr>

<%= render 'search' %>


<div id="categories" class="well results-blocks col-xs-10 col-xs-offset-1">
  <table class="categories-table col-xs-10 col-xs-offset-1">
    <tbody>
      <% @categories.each do |category| %>
          <%= render category %>
      <% end %>
    </tbody>
  </table>
</div>


